/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  /*global style*/
  body {
    font-family: "Pacifico";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff7e7;
  }

  h1 {
    font-family: "Pacifico";
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 0;
  }

  /*boardGame styling*/

  /*circles-'box' style*/
  .box {
    height: 15vmin;
    width: 15vmin;
    background-color: rgb(241, 245, 247);
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 90px;
    cursor: pointer;
  }

  /*games layout style*/
  .game {
    display: grid;
    grid-template-rows: repeat(3, 17vmin);
    grid-template-columns: repeat(3, 17vmin);
    margin: 20px auto;
    gap: 5px;
    justify-content: center; 
  }

  .box:hover {
    background-color: hsl(189, 75%, 73%);
    color: rgb(233, 240, 241);
  }

  /*reset buttons style*/
  .resetButton {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
  }

  .score-area {
    font-size: 2rem;
    margin: 20px auto;
    text-align: center;
    width: 60%;
  }

  .scores {
    display: inline-block;
    padding: 5px;
  }

  .status {
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 20px 0;
    text-align: center;
  }

  #X, #O {
    color: hsl(189, 75%, 73%);
    font-weight: bold;
    font-size: larger;
  }

  .field {
  text-align: center;
  margin: auto;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
    .status {
      font-size: 1.5rem;
    }
    .score-area {
      width: 100%;
    }

    .scores {
      margin: 0.5em auto;
      display: block;
      padding: 5px;
    } 
  }